body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cfb592;
    color: #333;
}

header {
    background-color: #ffffe2;
    color: #333;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

#hero-section {
    background: url('clarice-bg.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffe2;
    font-size: 2em;
    position: relative;
}

#hero-section h1 {
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#hero-section p {
    margin-bottom: 40px;
    font-size: 1.5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

#hero-section .scroll-down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

#content {
    padding: 40px;
    text-align: center;
}

.section-heading {
    font-size: 2em;
    color: #483e31;
    margin-bottom: 20px;
}

.section-content {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #666;
}

.section-contente {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #ffffe2;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-gallery img {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.photo-gallery img:hover {
    transform: scale(1.1);
}

.button {
    display: inline-block;
    background-color: #ffc7d6;
    color: #333;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #ffecf1;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.video-gallery{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}